<h1>Backoffice::Dashboard#index</h1>
<p>Find me in app/views/backoffice/dashboard/index.html.erb</p>

<%=current_admin.email %>
Categorias
<div class="panel panel-default">
	<div class="panel-heading">Categorias</div>
	<div class="panel-body">
		<div class="table-responsive">
		
		</div>
	</div>
</div>	