<h1>Backoffice::Dashboard#index</h1>
<p>Find me in app/views/backoffice/dashboard/index.html.erb</p>

<%=current_admin.email %>
Categorias
<div class="panel panel-default">
	<div class="panel-heading">Categorias</div>
	<div class="panel-body">
		<div class="table-responsive">
			<table class= "table-striped table-bordered table-hover">
			<thead>
				<tr>
				<th>#</th>
				<th>Descrição</th>
				</tr>
			</thead>
			<tbody>
				<% @categories.each do |category| %>
				<tr>
					<td><%= category.id %></td>
					<td><%= category.description %></td>
				</tr>
				<% end %>
			</tbody>
			</table>
		</div>
	</div>
</div>	